jaxws-spring-sample/src/main/resources/sample/xsd/Factorial.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    This project is dual-licensed under the terms of the Common Development and Distribution License (CDDL) v1.0 and the GNU General Public License (GPL) v2.0 with Classpath Exception.

    You may choose either license.

    See LICENSE-CDDL-1.0 and LICENSE-GPL-2.0-CE for full license texts.

-->
<xs:schema elementFormDefault="qualified"
           targetNamespace="http://www.revinate.com/sample"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Factorial">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="number" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FactorialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="return" type="xs:int"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FactorialFault">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="faultInfo" type="xs:string"/>
        <xs:element name="message" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
